
<div class="tab-pane fade show active" id="pills-show-item" role="tabpanel" aria-labelledby="pills-show-item-tab">
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Title</th>
                            <th>Price</th>
                            <th>Country</th>
                            <th>City</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01</td>
                            <td>System Architect</td>
                            <td>Rp.900.000.00</td>
                            <td>Indonesia</td>
                            <td>Dubay</td>
                            <td>
                            <a style="margin-left: 15%; color: green;" href="#"><i class="fas fa-edit"></i></a>
                            <a style="margin-left: 20px; color: red;" href="#"><i class="fas fa-eraser"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
  </div>    
</div>